<div class="container">
  <div class="row">
    <% if (locals.error) { %>
    <div class="col-md-offset-2 alert alert-danger">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <strong><%= error %></strong>
    </div>
    <% } %>
    <% if (locals.success) { %>
    <div class="col-md-offset-2 alert alert-success">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <strong><%= success %></strong>
    </div>
    <% } else { %>
    <form class="form-horizontal" role="form" action="/changePassword" method="post">
      <div class="form-group">
        <label for="old_password" class="col-md-offset-2 col-md-2 control-label">原密码：</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="old_password" name="old_password" placeholder="原密码">
        </div>
      </div>
      <div class="form-group">
        <label for="new_password" class="col-md-offset-2 col-md-2 control-label">新密码：</label>
        <div class="col-md-4">
          <input type="password" class="form-control" id="new_password" name="new_password" placeholder="新密码">
        </div>
      </div>
      <div class="form-group">
        <label for="repeat_password" class="col-md-offset-2 col-md-2 control-label">重复新密码：</label>
        <div class="col-md-4">
          <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="重复新密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4">
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </div>
    </form>
    <% } %>
  </div>
</div>