<% if(locals.comments && comments.length != 0) { %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= comments.length %>条评论</div>
  </div>
  <div class="inner no-padding">
    <% comments.forEach(function(comment){ %>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="<%= comment.gravatar %>">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="<%= comment.site %>" rel="nofollow"><%= comment.name %></a>于<%= comment.create_time %>说道:</h4>
        <%= comment.comment %>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<% } %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">发表评论</div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="alert alert-danger sr-only">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong></strong>
      </div>
      <div class="form-group">
        <label for="real_name" class="col-md-1 control-label">姓名:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="real_name" name="real_name" required placeholder="你的大名">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-1 control-label">Email:</label>
        <div class="col-md-4">
          <input type="email" class="form-control" id="email" name="email" required placeholder="不会被公开">
        </div>
      </div>
      <div class="form-group">
        <label for="site" class="col-md-1 control-label">站点:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="site" name="site" placeholder="http://">
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-md-1 control-label sr-only">评论:</label>
        <div class="col-md-8 col-sm-4">
          <div class="preview"></div>
          <textarea class="form-control" id="comment" name="comment" rows="10"></textarea>
          <p class="help-block">你也可以用markdown语法编辑评论</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2">
          <button class="btn" id="btn_preview">预览</button>
          <button id='btn_submit' type="submit" class='btn btn-primary'>发表</button>
          <button class="btn sr-only" id="btn_modify">修改</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $('#btn_preview').click(function(event) {
    event.preventDefault();
    var $comment = $('#comment');
    $comment.addClass('sr-only');
    $(this).addClass('sr-only');
    $('#btn_modify').removeClass('sr-only');
    var comment = $comment.val();
    var html = marked(comment);
    $('.preview').html(html);
    prettyPrint();
  });
  $('#btn_modify').click(function() {
    event.preventDefault();
    var $comment = $('#comment');
    $comment.removeClass('sr-only').focus();
    $('.preview').html('');
    $(this).addClass('sr-only');
    $('#btn_preview').removeClass('sr-only');
  });
  $('#btn_submit').click(function(event){
    event.preventDefault();
    var realName = $('#real_name').val(),
      email = $('#email').val(),
      site = $('#site').val(),
      comment = $('#comment').val();
    var articleId = location.pathname.substr('/article/'.length);
    var newComment = {
      real_name: realName,
      email: email,
      site: site,
      comment: comment,
      article_id: articleId
    };
    $.post('/comment/create', newComment, function(data){
      if(data.status == 'failed'){
        var $alert = $('div.alert-danger');
        $alert.find('strong').text(data.message);
        $alert.removeClass('sr-only');
      }else{
        location.reload();
      }
    }, 'json');
  });
</script>