<% if(locals.ret && ret.comments.length != 0) { %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= commentCount %>条评论</div>
  </div>
  <div id="comment_list" class="inner no-padding">
    <% function createTree(ret){ %>
      <% if(ret.comments){ %>
        <% var i = -1, len = ret.comments.length; %>
        <% while(++i < len){ %>
          <div class="media" id="<%= ret.comments[i]._id %>">
            <a class="pull-left">
              <img class="media-object" src="<%= ret.comments[i].gravatar %>">
            </a>
            <div class="media-body">
              <div class="media-heading text-muted ">
                <a href="<%= ret.comments[i].site %>" rel="nofollow"><%= ret.comments[i].name %></a>于<%= ret.comments[i].create_time %>说道:
                <div class="btn btn-info btn-xs reply">回复</div>
                <% if(locals.userName) { %>
                <div class="btn btn-warning btn-xs delete">删除</div>
                <% } %>
              </div>
              <div class="comment"><%= ret.comments[i].comment %></div>
              <% if(ret.comments[i].comments) { %>
                <% createTree(ret.comments[i]); %>
              <% } %>
            </div>
          </div>
        <% } %>
      <% } %>
    <% } %>
    <% createTree(ret); %>
  </div>
</div>
<% } %>
<div id="create_comment" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">发表评论<strong id="cancel_reply" class="btn btn-info btn-xs sr-only">取消评论</strong></div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="alert alert-danger sr-only">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong></strong>
      </div>
      <% if(locals.commentUser) { %>
      <div class="form-group">
        <label for="real_name" class="col-md-1 control-label">姓名:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="real_name" name="real_name" required placeholder="你的大名" value="<%= commentUser.name %>">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-1 control-label">Email:</label>
        <div class="col-md-4">
          <input type="email" class="form-control" id="email" name="email" required placeholder="不会被公开" value="<%= commentUser.email%>">
        </div>
      </div>
      <div class="form-group">
        <label for="site" class="col-md-1 control-label">站点:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="site" name="site" placeholder="http://" value="<%= commentUser.site %>">
        </div>
      </div>
      <% } else { %>
      <div class="form-group">
        <label for="real_name" class="col-md-1 control-label">姓名:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="real_name" name="real_name" required placeholder="你的大名">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-1 control-label">Email:</label>
        <div class="col-md-4">
          <input type="email" class="form-control" id="email" name="email" required placeholder="不会被公开">
        </div>
      </div>
      <div class="form-group">
        <label for="site" class="col-md-1 control-label">站点:</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="site" name="site" placeholder="http://">
        </div>
      </div>
      <% } %>
      <div class="form-group">
        <label for="comment" class="col-md-1 control-label sr-only">评论:</label>
        <div class="col-md-8">
          <div class="preview"></div>
          <textarea class="form-control" id="comment" name="comment" rows="10"></textarea>
          <p class="help-block">你也可以用markdown语法编辑评论</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2">
          <button class="btn" id="btn_preview">预览</button>
          <button class="btn sr-only" id="btn_modify">修改</button>
          <button id='btn_submit' type="submit" class='btn btn-primary'>发表</button>
        </div>
      </div>
    </form>
  </div>
</div>