<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="200">
        <li class="active"><a href="#basic_info">基本资料</a></li>
        <li><a href="#education_background">教育背景</a></li>
        <li><a href="#professional_skill">专业技能</a></li>
        <li><a href="#intern_project_expericence">实习&amp;项目经历</a></li>
        <li><a href="#prize">获奖情况</a></li>
        <li><a href="#skill_certification">技能证书</a></li>
        <li><a href="#judge_myself">自我评价</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h3 id="basic_info" class="title">基本资料</h3>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <p>姓&nbsp;&nbsp;名：王金龙</p>
              <p>出生日期：1989.10.14</p>
              <p>性&nbsp;&nbsp;别：男</p>
              <p>学&nbsp;&nbsp;校：南京理工大学</p>
              <p>学&nbsp;&nbsp;位：硕士</p>
              <p>专&nbsp;&nbsp;业：计算机应用技术</p>
              <p>个人Github：<a href=https://github.com/brucewar>brucewar</a></p>
            </div>
            <div class="col-md-4">
              <p>毕业时间：2015-04</p>
              <p>政治面貌：党员</p>
              <p>民&nbsp;&nbsp;族：汉</p>
              <p>户&nbsp;&nbsp;籍：江苏淮安</p>
              <p>联系方式：15902133879</p>
              <p>电子邮箱：wjl891014@gmail.com</p>
            </div>
            <div class="col-md-4">
              <img src="/public/img/recent.png" title="最近照片">
            </div>
          </div>
          <h3 id="education_background" class="title">教育背景</h3>
          <hr>
          <div class="row">
            <div class="col-md-3">2012.09至今</div>
            <div class="col-md-3">南京理工大学</div>
            <div class="col-md-3">计算机技术</div>
            <div class="col-md-3">硕士</div>
          </div>
          <div class="row">
            <div class="col-md-3">2008.09-2012.06</div>
            <div class="col-md-3">淮阴工学院</div>
            <div class="col-md-3">计算机科学与技术(软件工程方向)</div>
            <div class="col-md-3">学士</div>
          </div>
          <h3 id="professional_skill" class="title">专业技能</h3>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <p>熟悉 Java、JavaScript 和 Node.js 开发</p>
              <p>对 Web 开发非常感兴趣</p>
              <p>喜欢在 Linux 环境下开发，熟悉 Linux 基本的命令和 vim 文本编辑器</p>
            </div>
          </div>
          <h3 id="intern_project_expericence" class="title">实习&amp;项目经历</h3>
          <hr>
          <div class="row">
            <div class="col-md-3">2012-10至2013-03</div>
            <div class="col-md-3">邮政银行会议管理系统</div>
            <div class="col-md-3">实习项目</div>
            <div class="col-md-3">南京咕嘟软件公司</div>
            <P class="col-md-12 description">
              &nbsp;&nbsp;&nbsp;&nbsp;此项目包括web端和android移动端，我主要负责android端的开发。项目涉及的
              功能包括会议通知、会议处理（接收、拒绝和签到）、任务管理（任务完成情况汇报）。开
              发过程中，我们团队用git作为版本控制工具。
            </P>
          </div>
          <div class="row">
            <div class="col-md-3">2013-06至2013-09</div>
            <div class="col-md-3">微信公众平台小游戏</div>
            <div class="col-md-3">实习项目</div>
            <div class="col-md-3">南京咕嘟软件公司</div>
            <P class="col-md-12 description">
              &nbsp;&nbsp;&nbsp;&nbsp;基于微信公众账号开发的一款图片类的社交应用，关注者可以上传图片，用图片新
              建游戏，分享游戏给好友玩。现在已开发四款小游戏：拼图、消除、老虎机、连连看。服务器端后台逻辑用Node.js和
              开源的一个web框架Express，前端用jQuery Mobile，数据库用mongodb我主要负责消除游戏和后台业务逻辑的开发。
            </P>
          </div>
          <div class="row">
            <div class="col-md-3">2013-11至2014-02</div>
            <div class="col-md-3">移动端Web自动化测试框架</div>
            <div class="col-md-3">实习项目</div>
            <div class="col-md-3">Oracle</div>
            <P class="col-md-12 description">
              &nbsp;&nbsp;&nbsp;&nbsp;此框架使用Oracle自动化测试工具OpenScript实现android端的web自动化测试，
              将OpenScript的xml命令解析为json，将命令解析为chromedriver识别的命令，
              chromedriver驱动移动端Chrome做相应的操作，并将结果返回给OpenScript。
            </P>
          </div>
          <h3 id="prize" class="title">获奖情况</h3>
          <hr>
          <div class="row">
            <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;校三好学生、校三等奖学金</div>
          </div>
          <h3 id="skill_certification" class="title">技能证书</h3>
          <hr>
          <div class="row">
            <div class="col-md-12">&nbsp;&nbsp;&nbsp;&nbsp;大学英语四级、大学英语六级、全国计算机三级、江苏省计算机三级</div>
          </div>
          <h3 id="judge_myself" class="title">自我评价</h3>
          <hr>
          <div class="row">
            <div class="col-md-12">
              &nbsp;&nbsp;&nbsp;&nbsp;本人对 Web 开发有浓厚的兴趣，平时喜欢开发一些小工具，也是一位活泼开朗、喜欢与别人交流的人，
              也会在与别人的交流中学习。平时也比较喜欢唱歌、打乒乓球、踢足球。在学习上，积极主动，遇到不懂的问题，会及时请教别人。
              我学习能力也比较强，对于新技术学习快。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('ul.nav-pills').find('li').click(function(){
      $(this).addClass('active').siblings('li.active').removeClass('active');
    });

    //TODO 滚动过程中改变左侧导航栏状态
//    $('window').scroll(function(){
//      $('h3').each(function(){
//        if($(this).offset().top == 0){
//          var id = $(this).attr('id');
//          $('ul.nav-pills').find('a').each(function(){
//            if(id == $(this).attr('href').substr(1)){
//              $(this).addClass('active').siblings('li.active').removeClass('active');
//            }
//          });
//        }
//      });
//    });
  });
</script>