<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>博文目录</title>
    <script src="/javascripts/jquery-2.0.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/blog.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="container" class="container-fluid">
    <div class="row-fluid">
        <div id="articleClass" class="span3 well">
            <ul id="classInfo" class="nav nav-list">
                <li class="nav-header">博文<a id="manage" class="btn-link pull-right" style="padding-top: 0px">管理</a></li>
                <li><a href="#" id="0">全部博文<span class="badge badge-info">5</span></a></li>
                <li><a href="#" id="1">未分类博文<span class="badge badge-info"></span></a></li>
            </ul>
            <div id="manageClass" class="modal hide" data-backdrop="static">
                <div class="modal-header">
                    <a class="close">x</a>
                    <h5>分类管理</h5>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <input id="className" type="text" class="span2" placeholder="最多可输入14个中文字符" />
                        <button id="addClass" class="btn btn-primary">创建分类</button>
                        <span class="help-inline">请用中文、英文或数字。</span>
                        <p class="help-block" style="color: #b94a48;display: none">分类名称不能为空</p>
                        <p class="help-block" style="color: #b94a48;display: none">您已经添加过此分类</p>
                    </div>
                    <div>
                        <ul id="classes" class="nav nav-list">
                        </ul>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button id="saveClassesChange" class="btn btn-primary">保存设置</button>
                </div>
            </div>
            <div id="deleteClass" class="modal hide" data-backdrop="static">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">x</a>
                    <h3>提示</h3>
                </div>
                <div class="modal-body">
                    <p>确定要删除此分类吗？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">确定</button>
                    <button class="btn" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <div id="confirmSave" class="dialog modal hide" data-backdrop="static">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">x</a>
                    <h3>提示</h3>
                </div>
                <div class="modal-body">
                    <p>确定要保存更改吗？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">确定</button>
                    <button class="btn" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
        <div class="span9 well">
            <ul id="articleContent" class="nav nav-list">
                <li class="nav-header"><span>全部博文</span><span class="pull-right"><button id="write" class="btn btn-small">发博文</button></span></li>
                <li class="divider"></li>
            </ul>
            <div id="delete" class="dialog modal hide fade" data-backdrop="static">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">x</a>
                    <h3>提示</h3>
                </div>
                <div class="modal-body">
                    <p>确定要删除此博文吗？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">确定</button>
                    <button class="btn" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <div id="changeClass" class="dialog modal hide fade" data-backdrop="static">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">x</a>
                    <h3>修改博文分类</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="chooseClass">文章分类</label>
                            <div class="controls">
                                <select id="chooseClass" class="span2">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">确定</button>
                    <button class="btn" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>