<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>博文详情</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-2.0.0.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/articledetail.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-list" style="border: 1px solid #e5e5e5">
                <li class="nav-header head">正文</li>
                <li><h4 id="title" class="title"></h4><span id="time" class="time"></span></li>
                <li>分类:<span id="articleClass"></span></li>
                <li><div id="content"></div></li>
                <li class="divider"></li>
                <li class="head">评论</li>
                <li>
                    <ul class="nav nav-list">
                        <li><span>aaa</span><span class="pull-right"><a>回复</a><a>删除</a></span></li>
                        <li><span>bbb</span><span class="pull-right"><a>回复</a><a>删除</a></span></li>
                    </ul>
                </li>
                <li class="head">写评论</li>
                <li>
                    <div>
                        <iframe></iframe>
                    </div>
                    <div>
                        aaaa
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>