<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="The personal page of brucewar"/>
  <meta name="keywords" content="brucewar,Node.js,Express,mongodb,personal page"/>
  <meta name="authors" content="brucewar"/>
  <meta name="robots" content="index follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1" />
  <title>brucewar</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="/libs/jquery/jquery-1.11.0.min.js"></script>
  <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">brucewar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/content">博文目录</a>
        <li><a href="/project">项目</a></li>
        <li><a href="/about">关于我</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/search">
        <input type="text" id="q" name="q" class="form-control search" placeholder="Search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if(!locals.user) { %>
        <li><a href="/login">登录</a></li>
        <!--<li><a href="/register">注册</a></li>-->
        <% } else { %>
        <li><a href="#" class="navbar-link"><%= locals.user.user_name %></a></li>
        <li><a href="/logout">退出</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div id="main">
  <%- body %>
</div>
<div id="backtotop"></div>
<div id="footer" class="container">
  <footer class="col-md-offset-4">
    <p class="text-muted"><a href="https://github.com/brucewar" target="_blank">brucewar</a>&copy;2013 - <%= new Date().getFullYear()%></p>
  </footer>
</div>
<script type="text/javascript">
  $(function(){
    $('#navbar').find('a').each(function(){
      if($(this).attr('href') === location.pathname){
        $(this).parent().addClass('active');
      }
    });

    var $backtotop = $('#backtotop');
    $backtotop.click(function(){
      $('body,html').animate({scrollTop: 0});
    });
    $(window).scroll(function(){
      var windowHeight = $(window).scrollTop();
      windowHeight > 200 ? $backtotop.fadeIn() : $backtotop.fadeOut();
    });
  });
</script>
</body>
</html>