<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="The personal page of brucewar"/>
  <meta name="keywords" content="brucewar,Node.js,Express,mongodb,personal page"/>
  <meta name="authors" content="brucewar"/>
  <meta name="robots" content="index follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1" />
  <meta name="google-site-verification" content="WKvq_svjKMG4OuXERaei9GB7-TzK6lIsoMVTUBgwuMc" />
  <meta name="baidu-site-verification" content="pKYoFX9dX9" />
  <% if(locals.article) { %>
  <title><%= article.title %> - brucewar</title>
  <% } else if(locals.project) { %>
  <title><%= project.name %> - brucewar</title>
  <% } else { %>
  <title>brucewar</title>
  <% } %>
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
  <%- Loader('/public/stylesheets/index.min.css')
    .css('/public/libs/bootstrap/css/bootstrap.min.css')
    .css('/public/stylesheets/style.css')
    .css('/public/libs/code-prettify/prettify.css')
    .done(assets, '', config.mini_assets)
  %>
  <%- Loader('/public/javascripts/index.min.js')
    .js('/public/libs/jquery/jquery-1.11.0.min.js')
    .js('/public/libs/bootstrap/js/bootstrap.min.js')
    .js('/public/libs/code-prettify/prettify.js')
    .js('/public/libs/marked.js')
    .js('/public/javascripts/main.js')
    .done(assets, '', config.mini_assets)
  %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">brucewar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/content">博文目录</a>
        <li><a href="/project">项目</a></li>
        <li><a href="/about">关于我</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/search">
        <input type="text" id="q" name="q" class="form-control search" placeholder="Search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if(!locals.userName) { %>
        <li><a href="/login">登录</a></li>
        <!--<li><a href="/register">注册</a></li>-->
        <% } else { %>
        <li><a href="/changePassword" class="navbar-link"><%= locals.userName %></a></li>
        <li><a href="/logout">退出</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<div id="main">
  <%- body %>
</div>
<div id="backtotop"></div>
<div id="footer" class="container">
  <footer class="col-md-offset-4">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000401923'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000401923%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    <p class="text-muted"><a href="https://github.com/brucewar" target="_blank">brucewar</a>&copy;2013 - <%= new Date().getFullYear()%></p>
  </footer>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F40b2221d03ba33984479d5a1a425c3f4' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
