<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">热门文章</div>
			<div class="panel-body">
				<ul class="style-none">
					<% if(locals.hotArticles) { %>
						<% for(var i = 0, len = hotArticles.length; i < len; i++) { %>
						<li><span class="glyphicon glyphicon-bookmark"></span><a href="/article/<%= hotArticles[i]._id %>"><%= hotArticles[i].title %></a></li>
						<% } %>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">最新评论</div>
			<div class="panel-body">
				<ul class="style-none">
					<% if(locals.comments) { %>
						<% for(var i = 0, len = comments.length; i < len; i++) { %>
						<li>
							<div><span class="glyphicon glyphicon-comment"></span><a href="<%= comments[i].site %>" target="_blank" rel="nofollow"><%= comments[i].name %></a><span class="time pull-right"><%= comments[i].create_time %></span></div>
							<p><a href="/article/<%= comments[i].article_id %>#<%= comments[i]._id %>"><%= comments[i].comment %></a></p>
						</li>
						<% } %>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">友情链接
				<% if(locals.userName) { %>
				<a class="btn btn-link btn-xs pull-right" href="/blogroll">管理<span class="glyphicon glyphicon-cog"></span></a>
				<% } %>
			</div>
			<div class="panel-body">
				<ul class="style-none">
					<% if(locals.blogrolls) { %>
						<% for(var i = 0, len = blogrolls.length; i < len; i++) { %>
						<li><span class="glyphicon glyphicon-link"></span><a href="<%= blogrolls[i].domain %>" target="_blank"><%= blogrolls[i].webmaster %></a></li>
						<% } %>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>