<div id="article" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="title"><%= article.title %></div>
            <div class="time">写于<%= article.create_time %></div>
            <div class="class">分类:<%= article.class_name %></div>
          </div>
        </div>
        <div id="article_content" class="inner no-padding">
          <%= article.content %>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success btn-sm" onclick="((function(s,d,e,r,l,p,t,z,c){var f='http://v.t.sina.com.cn/share/share.php?appkey=638674899',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else a();})(screen,document,encodeURIComponent,'','','','分享来自brucewar的博文：<%= article.title %>','',''));"
            >分享到微博</button>
        </div>
      </div>
      <%- include ../comment/list.html %>
    </div>
  </div>
</div>
<!-- markdown editor -->
<link rel="stylesheet" href="/libs/code-prettify/prettify.css"/>
<script src="/libs/code-prettify/prettify.js"></script>
<script src="/libs/marked.js"></script>
<script src="/javascripts/article_detail.js"></script>