body {
    font-family: "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";
}

.navbar-brucewar {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

#navbar a {
    color: #fff;
}

#navbar a:hover {
    color: #555;
}

#navbar .navbar-brand {
    color: #3498DB;
}

#navbar .navbar-brand:hover {
    color: #428bca;
}

#bg-wrap {
    background-image: url('/public/img/background.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin-top: 0;
    background-size: cover;
}

#bg-wrap .wrap {
    color: #fff;
    max-width: 980px;
    padding: 120px 20px 10px 10px;
    margin: 0 auto;
    text-align: left;
}

.logo span {
    font-family: catull_BQ;
    font-size: 80px;
    font-weight: 900;
}

.logo div {
    font-size: 25px;
    margin-top: 40px;
}

.wrap .introduction {
    font-size: 13px;
    margin: 20px 0;
}

#bg-wrap .footer {
    width: 66px;
    height: 63px;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

#bg-wrap .arrow-down {
    position: absolute;
    width: 66px;
    height: 33px;
    background-image: url('/public/img/arrow-down.png');
    background-repeat: no-repeat;
    left: 50%;
    bottom: 40px;
}

#main {
    padding-top: 70px;
    margin-bottom: 100px;
}

ol.markdown {
    list-style: none;
    margin: 4px 0px;
}

.panel {
    margin-bottom: 13px;
    box-shadow: 0px 1px 1px hsla(0, 0%, 40%, 0.47);
}

.panel .panel-heading {
    padding: 7px 10px;
    box-shadow: 0px 1px 0px rgb(224, 224, 224);
}

.panel .inner {
    line-height: 2em;
    padding: 10px;
}

.panel .inner.no-padding {
    padding: 0;
}

.panel .panel-footer {
    text-align: right;
}

.cell {
    overflow: hidden;
    position: relative;
    padding: 10px 0px 10px 10px;
    font-size: 14px;
}
.panel .cell {
    padding-right: 10px;
    background: white;
    border-top: 1px solid  rgb(240, 240, 240);
}

.breadcrumb {
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    box-shadow: none;
}

.list-group {
    position: relative;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 0px;
}

.list-group-item {
    border: 0px;
}

.panel .list-group-item {
    background: white;
    border-top: 1px solid  rgb(240, 240, 240);
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.center-block {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}

a.article_title {
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
}

a.article_title:visited {
    color: #888;
}

span.time {
    font-size: 11px;
    display: inline-block;
    color: #777;
}

.warn {
    color: #b94a48;
    font-size: 10px;
}

.help-inline {
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

p.description {
    margin: 20px 0;
}

h3.title {
    color: #428bca;
}

#article .title {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 2em;
}

#article .time,.class {
    font-size: 11px;
    color: #838383;
}

#project .name {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 2em;
}

#project .description {
    font-size: 15px;
    color: #838383;
}

a:hover {
    text-decoration: none;
}

#backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    display: none;
    cursor: pointer;
    background: url('../img/top.png') no-repeat;
}

.media {
    border-top: 1px solid rgb(240, 240, 240);
}

.media .media-object {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

pre {
    background-color: rgba(71, 73, 73, 0.1);
}

.comment:hover {
    background-color: #eee;
}

.search {
    margin-top: 4px;
    height: 28px;
    padding: 4px 5px 4px 22px;
    background: white url('../img/search.png') no-repeat 4px 4px;
    border: 0;
}

@font-face {
    font-family: catull_BQ;
    src: url('../fonts/catull_BQ.ttf');
}

.navbar-brand {
    font-family: catull_BQ;
    font-size: 25px;
    font-weight: bolder;
}

/*清除页面中有序列表的点*/
ul.style-none {
    list-style-type: none;
    padding-left: 0;
}

ul.style-none span.glyphicon {
    margin-right: 5px;
}

ul.style-none li {
    font-size: 12px;
    margin-bottom: 5px;
}

ul.style-none a {
    color: #000;
    max-width: 85%;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

ul.style-none li a:hover {
    color: #f60;
}

ul.style-none p a:hover {
    color: #428bca;
}

.error {
    margin-top: 50px;
}

.error .error-code {
    font-weight: normal;
    font-size: 60px;
    color: #00AEEF;
    font-style: normal;
}

.error ul {
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}