body {
    background-color: #e5e5e5;
}

#main {
    padding-top: 70px;
    margin-bottom: 100px;
}

ol.markdown {
    list-style: none;
    margin: 4px 0px;
}

.panel {
    margin-bottom: 13px;
    box-shadow: 0px 1px 1px hsla(0, 0%, 40%, 0.47);
}

.panel .panel-heading {
    padding: 7px 10px;
    box-shadow: 0px 1px 0px rgb(224, 224, 224);
}

.panel .inner {
    line-height: 2em;
    padding: 10px;
}

.panel .inner.no-padding {
    padding: 0;
}

.panel .panel-footer {
    text-align: right;
}

.cell {
    overflow: hidden;
    position: relative;
    padding: 10px 0px 10px 10px;
    font-size: 14px;
}
.panel .cell {
    padding-right: 10px;
    background: white;
    border-top: 1px solid  rgb(240, 240, 240);
}

.breadcrumb {
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
    box-shadow: none;
}

.list-group {
    position: relative;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 0px;
}

.list-group-item {
    border: 0px;
}

.panel .list-group-item {
    background: white;
    border-top: 1px solid  rgb(240, 240, 240);
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.center-block {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}

a.article_title {
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
}

a.article_title:visited {
    color: #888;
}

span.time {
    font-size: 11px;
    display: inline-block;
    color: #777;
}

.warn {
    color: #b94a48;
    font-size: 10px;
}

.help-inline {
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

p.description {
    margin: 20px 0;
}

h3.title {
    color: #428bca;
}

#article .title {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 2em;
}

#article .time,.class {
    font-size: 11px;
    color: #838383;
}

#project .name {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 2em;
}

#project .description {
    font-size: 15px;
    color: #838383;
}

a:hover {
    text-decoration: none;
}

#backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    display: none;
    cursor: pointer;
    background: url('../img/top.png') no-repeat;
}

.media {
    border-top: 1px solid rgb(240, 240, 240);
}

pre {
    width: 50%;
    background-color: rgba(71, 73, 73, 0.5);
}

.comment:hover {
    background-color: #eee;
}

.search {
    margin-top: 4px;
    height: 28px;
    padding: 4px 5px 4px 22px;
    background: white url('../img/search.png') no-repeat 4px 4px;
    border: 0;
}

@font-face {
    font-family: catull_BQ;
    src: url('../fonts/catull_BQ.ttf');
}

.navbar-brand {
    font-family: catull_BQ;
    font-size: 25px;
    font-weight: bolder;
}