<div class="container">
	<div class="row" id="blogroll_list">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">友链管理<a class="btn-link pull-right add">添加<span class="glyphicon glyphicon-plus"></span></a></div>
				<div class="table-responsive">
					<% if(locals.blogrolls && blogrolls.length > 0) { %>
						<table class="table table-striped table-hover">
							<thead>
								<th>站长</th>
								<th>域名</th>
								<th>编辑</th>
							</thead>
							<tbody>
								<% for(var i = 0, len = blogrolls.length; i < len; i++) { %>
								<tr data="<%= blogrolls[i]._id %>">
									<td class="webmaster"><%= blogrolls[i].webmaster %></td>
									<td class="domain"><%= blogrolls[i].domain %></td>
									<td><a class="btn btn-link edit"><span class="glyphicon glyphicon-edit"></span></a><a class="btn btn-link delete"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
								</tr>
								<% } %>
							</tbody>
						</table>
					<% }else { %>
						暂无友链
					<% } %>
				</div>
			</div>
			<!-- add and edit blogroll dialog -->
			<div id="edit_dialog" class="modal fade" data-backdrop="static" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title">编辑友链</h4>
			      </div>
			      <div class="modal-body">
			      	<form class="form-horizontal" role="form">
			      		<div class="form-group">
							    <label for="webmaster" class="col-sm-2 control-label">站长</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="webmaster" name="webmaster" placeholder="brucewar" />
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="domain" class="col-sm-2 control-label">域名</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="domain" name="domain" placeholder="http://www.brucewar.com" />
							    </div>
							  </div>
			      	</form>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-primary">保存</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- delete blogroll dialog -->
			<div id="delete_dialog" class="modal fade" data-backdrop="static" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title">删除友链</h4>
			      </div>
			      <div class="modal-body">
			      	<p>确定要删除此条友情链接吗?</p>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-primary">确定</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
	</div>
</div>
<%- Loader('/public/javascripts/blogroll_list.min.js')
  .js('/public/javascripts/manage_blogroll.js')
  .done(assets, '', config.mini_assets)
%>